.idea/
.DS_Store
cmake-build-debug/
Debug/
packages/
fdt_tests/
CMakeFiles/
CMakeFiles/*
CMakeScripts/
out/
fdtlibcpp.dir/
x64/
build/
*.xcodeproj
*.xcodeproj/
.vs/
.vscode/
*/Makefile
*.exe
*.out
*.vcxproj
*.vcxproj.*
*.sln
*.swp
Makefile
cmake_install.cmake
CMakeCache.txt
